.head-bar {
    display: flex;
    justify-content: space-between;
}

.title {
    align-items: flex-end;
    font-weight: bold;
}

.sub-title {
    font-size: .75em;
}

.left-head-text {
    display: inline-block;
}

.media-links-ul {
    display: inline-block;
    list-style: none;
}

.media-li {
    display: inline;
}

.right-head {
    display: flex;
    justify-content: right;
    align-items: center;
}

.row {
    display: flex;
    font-size: 1.5em;
    background-image: url('./assets/list-bg.png');
  }
  
  .column {
    flex: 50%;
  }